body {

  padding: 40px;
  font-family: Helvetica;
  text-align: center;
}

// .container {
//   display: flex;
//   justify-content: space-between;
// }

// .column {
//   flex: 1;
//   padding: 10px;
//   /* Add any other styles you need for your columns here */
// }


.container {
  display: flex;
}

.column {
  flex: 33%;
}
